pin-depends: [
  ["rocq-core.dev" "git+https://github.com/dhalilov/rocq.git#ltac2api"]
  ["rocq-runtime.dev" "git+https://github.com/dhalilov/rocq.git#ltac2api"]
  ["ppx_rocq.dev" "git+https://github.com/epfl-systemf/ppx_rocq.git"]
]